@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

:root {
  --primary: #fe2c55;
  --black: #000;
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;

  --text-color: #333;
  --white-cls: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  // font-family: "Montserrat", sans-serif;
  font-family: 'Roboto', sans-serif;
  // font-family: "Pacifico", cursive;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

// tippy toolip

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrow {
    top: -1px;
  }
  .tippy-content {
    padding: 8px 9px;
  }
}
