.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  padding: 0 var(--default-layout-horizontal-spacer);
  height: 100%;
  width: var(--default-layout-width);
  max-width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  &:hover {
    cursor: pointer;
  }
}

.search-title {
  padding: 5px 8px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.search,
.search-result {
  width: 361px;
}
.search {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-btn-width: 52px;
  position: relative;
  height: var(--search-height);
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
  background-color: rgba(0 0 0 / 15%);
  border: 1.5px solid rgba(22, 24, 35, 0);
  border-radius: var(--search-border-radius);
  input {
    width: 100%;
    padding: 12px 0;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-btn-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.12);
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}
.clear,
.loading {
  position: absolute;
  right: calc(var(--search-btn-width) + 10px);
  font-size: 1.6rem;
  color: rgba(22, 24, 35, 0.34);
}
.search-btn {
  border-bottom-right-radius: var(--search-border-radius);
  border-top-right-radius: var(--search-border-radius);
  margin-right: 0;
  margin-left: auto;
  background-color: transparent;
  width: var(--search-btn-width);
  height: 100%;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 25, 35, 0.03);
  }
  &:active {
    background-color: rgba(22, 25, 35, 0.06);
  }
}
.actions {
  display: flex;
  align-items: center;
}

.more-btn {
  padding: 5px;
  font-size: 2rem;
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  color: #161823;
  background-color: transparent;
  padding: 4px 12px;
  font-size: 2.2rem;
  cursor: pointer;
}

.user-avatar {
  margin-left: 8px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
